---
import Name from "../components/Name.astro";
import Character from "../components/Character.astro";
import ProgressBar from "../components/ProgressBar.astro";

import "../styles/global.css";
import "@splidejs/splide/dist/css/splide.min.css";
---

<!DOCTYPE html>
<html lang="ja" class="overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shinya Ogasawara - Agile Coach & Workshop Designer</title>
    <meta name="description" content="アジャイルコーチ・ワークショップデザイナー小笠原晋也のポートフォリオサイト。アジャイル・スクラム研修、ワークショップ開催・設計支援を提供しています。" />
    <meta property="og:title" content="Shinya Ogasawara - Agile Coach & Workshop Designer" />
    <meta property="og:description" content="アジャイルコーチ・ワークショップデザイナー小笠原晋也のポートフォリオサイト" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yarn-spinning.jp/" />
    <meta property="og:site_name" content="yarn-spinning" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bonbon_0605" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-blue-500 font-sans" x-data="{ scrollPosition: 0 }">
    <Name />
    <Character />
    <ProgressBar />
    <main class="section-container" id="sectionContainer" style="width: 500vw;">
        <slot />
    </main>

    <script src="/src/scripts/vendors.js"></script>
    <script src="/src/scripts/main.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4583e9c7614748469a6488f94a28973d"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>