---
import Name from "../components/Name.astro";
import Character from "../components/Character.astro";
import ProgressBar from "../components/ProgressBar.astro";

import "../styles/global.css";
import "@splidejs/splide/dist/css/splide.min.css";
---

<!DOCTYPE html>
<html lang="en" class="overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamefolio - Game Developer Portfolio</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-blue-500 font-sans" x-data="{ scrollPosition: 0 }">
    <Name />
    <Character />
    <ProgressBar />
    <main class="section-container" id="sectionContainer" style="width: 500vw;">
        <slot />
    </main>

    <script src="/src/scripts/vendors.js"></script>
    <script src="/src/scripts/main.js"></script>
  </body>
</html>